.Task {
  background-color: #ffffff;
  margin-bottom: 16px;
  text-align: center;
  padding-left: 0;
  padding-right: 0;
}

.Owner {
    height: 40px;
}

.Media {
    height: 40px;
    align-items: center;
}

.Media-Body {
    flex: none;
    padding-left: 1.25rem;
}

.Task figure,
h5 {
  margin: 0 0;
}
